.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    width: 100dvw;
    height: 100dvh;
    place-items: center;
    background: rgba(0, 0, 0, .8);
}

.modal {
    width: 90%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #161617;
    border: 1px solid hsla(0,0%,100%,.1);
}

.modal_head {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal_close {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    border-radius: 10px;
    background-color: #252525;
}

.modal_main {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    padding: 1rem 0rem;
}

.modal_main::-webkit-scrollbar {
    display: none;
}

.rowBurble {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.burble {
    display: flex;
    width: fit-content;
    max-width: 60%;
    border-radius: 100px;
    padding: 1rem;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.burble_owner {
    align-self: flex-end;
    background-color: #000000;
    border: 1px solid hsla(0,0%,100%,.1);
}

.burble_client {
    background-color: #252525;
}

.modal_msg {
    width: 100%;
    padding: .5rem 0rem;
    border-top: 1px solid hsla(0,0%,100%,.1);
}

.questions {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.question {
    font-size: .8rem;
    border-radius: 100px;
    padding: .8rem;
    border: 1px solid hsla(0,0%,100%,.1);
}

@media (min-width: 768px) {
    .modal {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .modal {
        width: 40%;
    }
}