.sliderWrapper {
    overflow: hidden;
    width: 100%;
}
  
.sliderTrack {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.sliderWrapper:hover .sliderTrack {
    animation-play-state: paused;
}
  
.sliderTrack > * {
    flex: 0 0 auto;
    margin-right: 1rem;
}
  
/* Ocultar scrollbar opcionalmente */
.sliderWrapper::-webkit-scrollbar {
    display: none;
}
  
/* Animación */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.projectSkeleton {
    width: 100%;
    display: grid;
    margin: 2rem 0rem;
    place-items: center;
}

.loader {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #ac63ff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 